/**
 * Css de about
 */
.AboutScreen {
	position: absolute;
	background-repeat: no-repeat;
}


.aboutText {
    margin-top: 17px;
}


.title {
    text-align: center;
    padding-top: 20;
    font-size: 1.3em;
}


.desc {
	text-align: center;
	line-height: 150%;
    padding-top: 10;
}

