/**
 * css du popUp "Désormais connecté".
 */

.goodPasswordText {
    margin-top: 10px;
}


.goodPasswordTitle {
    text-align: center;
    padding-top: 1;
    font-size: 1.3em;
}


.goodPasswordDesc {
	text-align: center;
	line-height: 150%;
	font-size: 0.8em;
    padding-top: 35;
}

#goodPassword .buttonClose {
    position: absolute;
    text-align: center;
    font-family: Fipps, sans-serif;
    background-repeat:no-repeat;
    width:160px;
    height:60px;
    left:170px;
    top:210px;
    background-size:100% 100%;
    font-size:0.8em;
    padding-top:3px;
}